<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REST API Documentation - Easy to Use</title>

    <!-- SEO Meta Tags -->
    <meta
      name="description"
      content="Explore our REST API documentation, providing comprehensive endpoints for developers to build powerful applications with ease. Get started now!"
    />
    <meta name="author" content="Romi Muharom" />
    <meta
      name="keywords"
      content="REST API, API Documentation, API Guide, Developer API, JSON API, RESTful API, Web Services"
    />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook -->
    <meta
      property="og:title"
      content="REST API Documentation - Easy to Use"
    />
    <meta
      property="og:description"
      content="Explore our REST API documentation, providing comprehensive endpoints for developers to build powerful applications with ease. Get started now!"
    />
    <meta
      property="og:image"
      content="https://files.romi.my.id/image/thumb.jpg"
    />
    <meta property="og:url" content="https://hono.romi.my.id" />
    <meta property="og:site_name" content="REST API Documentation" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="REST API Documentation - Easy to Use"
    />
    <meta
      name="twitter:description"
      content="Explore our REST API documentation, providing comprehensive endpoints for developers to build powerful applications with ease. Get started now!"
    />
    <meta
      name="twitter:image"
      content="https://files.romi.my.id/image/thumb.jpg"
    />

    <!-- Favicon and CSS -->
    <link rel="icon" href="https://files.romi.my.id/icon/favicon.ico" />
    <link rel="stylesheet" href="https://files.romi.my.id/other/css/home.css" />
  </head>
  <body>
    <header>
      <h1>REST API</h1>
      <p>Documentation for available endpoints</p>
      <p>Created by <strong>Romi Muharom</strong></p>
    </header>

    <div class="container">
      <h2>System</h2>
      <ul>
        <li>
          <strong>GET</strong> - <a href="/system/ip">/system/ip</a> - Check IP
          address
        </li>
      </ul>

      <h2>Maker</h2>
      <ul>
        <li>
          <strong>GET</strong> -
          <a href="/api/maker/carbonara?text=halo">/api/maker/carbonara</a> -
          Generate a code screenshot
        </li>
        <li>
          <strong>GET</strong> -
          <a href="/api/maker/brat?text=halo">/api/maker/brat</a> - Create text
          to image generator
        </li>
        <li>
          <strong>GET</strong> -
          <a
            href="/api/maker/quotly?text=halo&name=Romi&avatar=https://i.pinimg.com/736x/c6/6b/2b/c66b2ba58209ced266eeb8aca64cbe88.jpg"
            >/api/maker/quotly</a
          >
          - Create message bubble text
        </li>
      </ul>

      <h2>AI</h2>
      <ul>
        <li>
          <strong>GET</strong> -
          <a href="/api/ai/ai4chat?text=halo">/api/ai/ai4chat</a> - Chat AI
          model ai4chat
        </li>
      </ul>

      <h2>Search</h2>
      <ul>
        <li>
          <strong>GET</strong> -
          <a href="/api/search/pinterest?text=bocchi">/api/search/pinterest</a>
          - Search images from Pinterest
        </li>
        <li>
          <strong>GET</strong> -
          <a href="/api/search/konachan?text=naruto">/api/search/konachan</a> -
          Search anime character images
        </li>
      </ul>
    </div>

    <footer>
      <p>&copy; 2025 Romi Muharom</p>
      <ul class="social-links">
        <li>
          <a href="https://instagram.com/romi_muh05" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://github.com/Leuthra" target="_blank">GitHub</a>
        </li>
        <li>
          <a href="https://linkedin.com/in/romidev" target="_blank">LinkedIn</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
